:local(.AnimatedButton) {
  background: black;
  color: #fff;
  transition: 1s transform cubic-bezier(0.915, -0.285, 0.110, 1.650), 1s background ease, 1s color ease;
  width: 300px;
  text-align:center;
  &.isTransitioning {
    background: yellow;
    color: black;
  }
  &.animate {
      transform: translate3d(100%, 0,0);
  }
}
